/*
 *
 * MMM-WhisperGPTAutomatic
 *
 * By Boris Nikolovski
 * MIT Licensed.
 *
 */

.MMM-WhisperGPTAutomatic {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.MMM-WhisperGPTAutomatic .bright {
  font-weight: bold;
}

.MMM-WhisperGPTAutomatic .small {
  font-size: 0.8em;
}
