.MMM-SPS30Display {
  width: 100%;
  max-width: 400px;
}

.MMM-SPS30Display h3 {
  text-align: left;
}

.MMM-SPS30Display .sps30-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 40px;
}

.MMM-SPS30Display .sps30-list li {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  font-size: 1rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1); /* optional separator */
}

.MMM-SPS30Display .key {
  flex: 1;
  text-align: left;
  padding-right: 10px;
  font-weight: bold;
}

.MMM-SPS30Display .value {
  flex: 0 0 auto;
  text-align: right;
}

