.MMM-DHT20Display {
  width: 100%;
  max-width: 400px;
}

.MMM-DHT20Display .dht20-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.MMM-DHT20Display .dht20-list li {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  font-size: 1rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1); /* optional separator */
}

.MMM-DHT20Display .key {
  flex: 1;
  text-align: left;
  padding-right: 10px;
  font-weight: bold;
}

.MMM-DHT20Display .value {
  flex: 0 0 auto;
  text-align: right;
}

